<div class="panel">
  <h1>Index de items</h1>

  <table class="table">
    <thead>
    <tr>
      <th>TItulo</th>
      <th>Descrição</th>
      <th />
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Comprar Carne</td>
      <td>Comprar Carne</td>
      <td style="text-align: right">
        <a class="button">Excluir</a>
        <a class="button">Editar</a>
        <a class="button">Ver</a>
      </td>
    </tr>
    <tr>
      <td>Comprar Carne</td>
      <td>Comprar Carne</td>
      <td style="text-align: right">
        <a class="button">Excluir</a>
        <a class="button">Editar</a>
        <a class="button">Ver</a>
      </td>
    </tr>

    <a class="button">Adicionar</a>

    </tbody>
  </table>
</div>
